# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode workspace settings (optional)
.vscode/

# OS junk
.DS_Store
Thumbs.db